* {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: black;
    width: 100%;
}

.logo {
    width: 140px;
    height: 80px;
    object-fit: cover;
}

.nav-link.active {
    color: white !important;
}

.dropdown-toggle:focus{
    color: white !important;
}

.dropdown-item:focus{
    background-color: #e6e6e6;
    color: black;
}

.dropdown-item:active{
    background-color: #e6e6e6;
    color: black;
}

.nav-link {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link:hover {
    color: white;
}

.nav-link:focus {
    color: white;
}

.bi-three-dots {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.box-1{
    max-width: 400px;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
    margin: 20px auto 0 auto;
    padding: 0 10px;
}

.box-2{
    max-width: 400px;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
    margin: 20px auto 0 auto;
    padding: 0 10px;
}

.box-3{
    max-width: 400px;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
    margin: 20px auto 0 auto;
    padding: 0 10px;
}

.box-4{
    max-width: 400px;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
    margin: 20px auto 0 auto;
    padding: 0 10px;
}

.box-5{
    max-width: 400px;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
    margin: 20px auto 0 auto;
    padding: 0 10px;
}

.box-6{
    max-width: 400px;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
    margin: 20px auto 0 auto;
    padding: 0 10px;
}

.box-7{
    max-width: 400px;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
    margin: 20px auto 0 auto;
    padding: 0 10px;
}

.box-8{
    max-width: 400px;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
    margin: 20px auto 0 auto;
    padding: 0 10px;
}

.box-logo{
    width: 100px;
    height: 80px;
    object-fit: cover;
}

.box-image{
    max-width: 100%;
    height: auto;
    margin-top: -20px;
}

.watch-name{
    margin-top: 20px;
}

.stars{
    margin-top: 20px;
    display: flex;
}

.bx{
    margin: 0 2px;
}

.reviews{
    margin-top: -5px;
}

.price{
    text-transform: capitalize;
}

.buy-now{
    text-decoration: none;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    text-transform: capitalize;
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 50px;
    margin-top: 20px;
}


@media (min-width:1024px) and (max-width:1439px) {
    .box-1{
        height: 830px;
    }
    .box-2{
        height: 830px;
    }
    .box-3{
        height: 830px;
    }
    .box-4{
        height: 830px;
    }
    .box-5{
        height: 830px;
    }
    .box-6{
        height: 830px;
    }
    .box-7{
        height: 830px;
    }
    .box-8{
        height: 830px;
    }
}

@media (min-width:1440px) and (max-width:2559px) {
    .box-1{
        height: 880px;
    }
    .box-2{
        height: 880px;
    }
    .box-3{
        height: 880px;
    }
    .box-4{
        height: 880px;
    }
    .box-5{
        height: 880px;
    }
    .box-6{
        height: 880px;
    }
    .box-7{
        height: 880px;
    }
    .box-8{
        height: 880px;
    }
}

@media screen and (min-width:2560px) {
    .box-1{
        height: 940px;
        margin-top: 40px;
    }
    .box-2{
        margin-top: 40px;
        height: 940px;
    }
    .box-3{
        margin-top: 40px;
        height: 940px;
    }
    .box-4{
        margin-top: 40px;
        height: 940px;
    }
    .box-5{
        margin-top: 40px;
        height: 940px;
    }
    .box-6{
        margin-top: 40px;
        height: 940px;
    }
    .box-7{
        margin-top: 40px;
        height: 940px;
    }
    .box-8{
        margin-top: 40px;
        height: 940px;
        margin-bottom: 60px;
    }
}

@media (min-width:1024px) and (max-width:1110px) {
    .box-1{
        height: 730px;
    }
    .box-2{
        height: 730px;
    }
    .box-3{
        height: 730px;
    }
    .box-4{
        height: 730px;
    }
    .box-5{
        height: 730px;
    }
    .box-6{
        height: 730px;
    }
    .box-7{
        height: 730px;
    }
    .box-8{
        height: 730px;
    }
}

@media (min-width:1111px) and (max-width:1439px) {
    .box-1{height: 850px;}
    .box-2{height: 850px;}
    .box-3{height: 850px;}
    .box-4{height: 850px;}
    .box-5{height: 850px;}
    .box-6{height: 850px;}
    .box-7{height: 850px;}
    .box-8{height: 850px;}
}

@media (min-width:768px) and (max-width:1023px) {
    .box-4{
        margin-top: 40px;
    }
    .box-5{
        margin-top: 40px;
    }
    .box-6{
        margin-top: 40px;
    }
    .box-7{
        margin-top: 60px;
    }
    .box-8{
        margin-top: 60px;
    }
}

@media (min-width:425px) and (max-width:767px) {
    .box-1{
        height: 940px;
        margin-top: 30px;
    }
    .box-2{
        margin-top: 30px;
        height: 940px;
    }
    .box-3{
        margin-top: 30px;
        height: 940px;
    }
    .box-4{
        margin-top: 30px;
        height: 940px;
    }
    .box-5{
        margin-top: 30px;
        height: 940px;
    }
    .box-6{
        margin-top: 30px;
        height: 940px;
    }
    .box-7{
        margin-top: 30px;
        height: 940px;
    }
    .box-8{
        margin-top: 30px;
        height: 940px;
        margin-bottom: 40px;
    }
    
}

@media (min-width:375px) and (max-width:424px) {
    .box-1{
        height: 880px;
    }
    .box-2{
        height: 880px;
    }
    .box-3{
        height: 880px;
    }
    .box-4{
        height: 880px;
    }
    .box-5{
        height: 880px;
    }
    .box-6{
        height: 880px;
    }
    .box-7{
        height: 880px;
    }
    .box-8{
        height: 880px;
    }
}

@media (min-width:320px) and (max-width:374px) {
    .box-1{
        height: 820px;
    }
    .box-2{
        height: 820px;
    }
    .box-3{
        height: 820px;
    }
    .box-4{
        height: 820px;
    }
    .box-5{
        height: 820px;
    }
    .box-6{
        height: 820px;
    }
    .box-7{
        height: 820px;
    }
    .box-8{
        height: 820px;
    }
}