* {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: black;
    width: 100%;
}

.logo {
    width: 140px;
    height: 80px;
    object-fit: cover;
}

.nav-link.active {
    color: white !important;
}

.dropdown-toggle:focus{
    color: white !important;
}

.nav-link {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link:hover {
    color: white;
}

.nav-link:focus {
    color: white;
}

.bi-three-dots {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.box-1 {
    max-width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    padding: 0 10px;
}

.box-2 {
    max-width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    padding: 0 10px;
}

.box-3 {
    max-width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    padding: 0 10px;
}

.box-4 {
    max-width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    padding: 0 10px;
}

.box-5 {
    max-width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    padding: 0 10px;
}

.box-6 {
    max-width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    padding: 0 10px;
}

.box-7 {
    max-width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    padding: 0 10px;
}

.box-8 {
    max-width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    padding: 0 10px;
}

.box-logo {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

.box-image-1 {
    width: 100%;
    height: 390px;
    object-fit: cover;
    margin-top: -20px;
}

.box-image-2 {
    width: 100%;
    height: 390px;
    object-fit: cover;
    margin-top: -20px;
}

.box-image-3 {
    width: 100%;
    height: 390px;
    object-fit: cover;
    margin-top: -20px;
}

.box-image-4 {
    width: 100%;
    height: 390px;
    object-fit: cover;
    margin-top: -20px;
}

.box-image-5 {
    width: 100%;
    height: 390px;
    object-fit: cover;
    margin-top: -20px;
}

.box-image-6 {
    width: 100%;
    height: 390px;
    object-fit: cover;
    margin-top: -20px;
}

.box-image-7 {
    width: 100%;
    height: 390px;
    object-fit: cover;
    margin-top: -20px;
}

.box-image-8 {
    width: 100%;
    height: 390px;
    object-fit: cover;
    margin-top: -20px;
}

.watch-name {
    margin-top: 20px;
}

.stars {
    margin-top: 20px;
    display: flex;
}

.bx {
    margin: 0 2px;
}

.reviews {
    margin-top: -5px;
}

.price {
    text-transform: capitalize;
}

.buy-now {
    text-decoration: none;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    text-transform: capitalize;
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 50px;
    margin-top: 20px;
}

@media (min-width:1600px) and (max-width:2560px) {
    .box-image-1 {
        height: 850px;
    }

    .box-image-2 {
        height: 850px;
    }

    .box-image-3 {
        height: 850px;
    }

    .box-image-4 {
        height: 850px;
    }

    .box-image-5 {
        height: 850px;
    }

    .box-image-6 {
        height: 850px;
    }

    .box-image-7 {
        height: 850px;
    }

    .box-image-8 {
        height: 850px;
    }
}

@media (min-width:1440px) and (max-width:2560px) {
    .box-4{ margin-top: 50px;}

    .box-5{margin-top: 50px;}

    .box-6{margin-top: 50px;}

    .box-7{margin-top: 80px;}

    .box-8{margin-top: 80px;}
}

@media (min-width:1024px) and (max-width:1439px) {
    .box-4{margin-top: 50px;}

    .box-5{margin-top: 50px;}

    .box-6{margin-top: 50px;}

    .box-7{margin-top: 80px;}

    .box-8{margin-top: 80px;}
}

@media (min-width:768px) and (max-width:1023px) {
    .box-3{margin-top: 50px;}

    .box-4{margin-top: 50px;}

    .box-5{margin-top: 80px;}

    .box-6{margin-top: 80px;}

    .box-7{margin-top: 110px;}

    .box-8{margin-top: 110px;}
}

@media (min-width:375px) and (max-width:767px) {
    .box-1{
        height: 750px;
    }
    .box-2{
        margin-top: 30px;
        height: 750px;
    }
    .box-3{
        height: 750px;
        margin-top: 30px;
    }
    .box-4{
        height: 750px;
        margin-top: 30px;
    }
    .box-5{
        height: 750px;
        margin-top: 30px;
    }
    .box-6{
        height: 750px;
        margin-top: 30px;
    }
    .box-7{
        height: 750px;
        margin-top: 30px;
    }
    .box-8{
        height: 750px;
        margin-top: 30px;
    }
}

@media (min-width:320px) and (max-width:374px) {
    .box-1{
        height: 770px;
    }
    .box-2{
        height: 770px;
    }
    .box-3{
        height: 770px;
    }
    .box-4{
        height: 770px;
    }
    .box-5{
        height: 770px;
    }
    .box-6{
        height: 770px;
    }
    .box-7{
        height: 770px;
    }
    .box-8{
        height: 770px;
    }
}